*$py.class
*,cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.Python
.python-version
.tox/
__pycache__/
build/
coverage.xml
develop-eggs/
dist/
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
local_settings.py
nosetests.xml
parts/
sdist/
var/
